<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>momentum</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MomentumAppGroupID</key>
	<string>$(IOS_APP_GROUP_ID)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Momentum saves the images you share, like your progress on a goal or your week, to your photo library when you choose Save Image.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Momentum listens to the videos you add, on this device, to name the to-dos it finds in them.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
